extends layout

block content
  p Login to #{site_name}
  form(method="post", action="/login")
    p
      label Username:
      input(type="text", name="username", placeholder="Username")
    p
      label Password:
      input(type="password", name="password",placeholder="Password")
    p
      input(type="submit", value="Login")
