block google_analytics
  if (typeof(ga_account) != 'undefined')
    script
      var _gaq=[['_setAccount', =ga_account],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

if use.bootstrap && use.jquery
  != tapas_assets.js('/vendors/bootstrap/js/bootstrap-2.2.1')
