block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  block head_title
    title= (typeof(title) != 'undefined' && title || "Welcome") + (typeof(site_name) != 'undefined' && (" | " + site_name) || "")
  if typeof(description) != 'undefined' && description != ''
    meta(name='description', content=description)
  if typeof(author) != 'undefined' && author != ''
    meta(name='author', content=author)
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  block css_libraries
    for css_library in css_libraries
      link(rel='stylesheet', href=css_library)
    if use.bootstrap
      if use.fontawesome
        != tapas_assets.css('/vendors/bootstrap/css/bootstrap-noicon-2.2.1')
        != tapas_assets.css('/vendors/fontawesome/css/font-awesome')
        //if lt IE 9
          != tapas_assets.css('/vendors/fontawesome/css/font-awesome-ie7')
      else
        != tapas_assets.css('/vendors/bootstrap/css/bootstrap-2.2.1')
      if use.bootstrap.responsive
        != tapas_assets.css('/vendors/bootstrap/css/bootstrap-responsive-2.2.1')
  block css_custom
    != tapas_assets.css('/tapas')
    :stylus
      .sidebar-nav
        padding: 9px 0
    if use.bootstrap
      if use.bootstrap.fixedNavbar
        :stylus
          body
            padding-top: 60px
            padding-bottom: 40px
  block js_libraries
    //if lt IE 9
      != tapas_assets.js('/vendors/html5shim/html5shiv')
    block js_libraries_jquery
      //- todo: optional in settings: script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js', type="text/javascript")
      //- script window.jQuery || document.write('<script src="/vendor/jquery/jquery-1.8.1.js"><\\/script>')
      != tapas_assets.js('/vendors/jquery/jquery-1.8.1')
    block js_libraries_modernizer
      != tapas_assets.js('/vendors/modernizr/modernizr-2.6.2')
    block js_libraries_plugins
      //- != tapas_assets.js('plugins')
  block js_custom
    != tapas_assets.js('/tapas')
